<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question 3</title>
    <style>
        body{
            margin: 0px;
        }
        .header{
            background-color: gray;
            position: fixed;
            z-index: 5;
            width: 100%;
            height: 60px;
            text-align: center;
            font-size: 50px;
        }
        .sidebar{
            background-color:lightpink;
            float: left;
            width: 300px;
            font-size: 25px;
            padding: 60px 0px 0px 0px;
        }
        .main{
            background-color:lightgreen;
            left: 300;
            font-size: 25px;
            padding: 60px 0px 0px 0px;
        }
        .footer{
            background-color: gray;
            position: fixed;
            bottom: 0;
            z-index: 5;
            width: 100%;
            height: 60px;
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="header">
        I'm the header and I contain nav links.
    </div>
    <div class="sidebar">
        Sidebar<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis in eu mi bibendum. A iaculis at erat pellentesque adipiscing commodo elit. Non arcu risus quis varius quam quisque id. Magna fermentum iaculis eu non diam. Posuere morbi leo urna molestie at. Vel turpis nunc eget lorem dolor. Elementum curabitur vitae nunc sed velit dignissim sodales. Dui ut ornare lectus sit. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Nullam eget felis eget nunc lobortis mattis aliquam. Etiam erat velit scelerisque in dictum non consectetur. Cras ornare arcu dui vivamus arcu felis. Turpis tincidunt id aliquet risus feugiat in.

        Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a. Tortor condimentum lacinia quis vel. Nunc consequat interdum varius sit amet mattis vulputate enim. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Lectus quam id leo in vitae turpis massa sed elementum. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Semper quis lectus nulla at volutpat diam ut. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Enim lobortis scelerisque fermentum dui faucibus. Scelerisque purus semper eget duis. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Mattis enim ut tellus elementum sagittis vitae. Dui vivamus arcu felis bibendum.
        
        Aliquam vestibulum morbi blandit cursus. Amet mauris commodo quis imperdiet. Nulla pellentesque dignissim enim sit. Ac feugiat sed lectus vestibulum. Viverra ipsum nunc aliquet bibendum enim facilisis. Eleifend donec pretium vulputate sapien. Mauris vitae ultricies leo integer malesuada. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Leo in vitae turpis massa sed. Non odio euismod lacinia at quis risus sed vulputate. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Convallis posuere morbi leo urna. Odio morbi quis commodo odio aenean sed adipiscing diam. Nisi porta lorem mollis aliquam ut porttitor leo. Nisl suscipit adipiscing bibendum est ultricies integer. Enim sed faucibus turpis in eu mi bibendum neque. Et netus et malesuada fames ac turpis egestas sed tempus. At augue eget arcu dictum varius duis at.
    </div>
    <div class="main">
        Main Content<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis in eu mi bibendum. A iaculis at erat pellentesque adipiscing commodo elit. Non arcu risus quis varius quam quisque id. Magna fermentum iaculis eu non diam. Posuere morbi leo urna molestie at. Vel turpis nunc eget lorem dolor. Elementum curabitur vitae nunc sed velit dignissim sodales. Dui ut ornare lectus sit. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Nullam eget felis eget nunc lobortis mattis aliquam. Etiam erat velit scelerisque in dictum non consectetur. Cras ornare arcu dui vivamus arcu felis. Turpis tincidunt id aliquet risus feugiat in.

        Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a. Tortor condimentum lacinia quis vel. Nunc consequat interdum varius sit amet mattis vulputate enim. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Lectus quam id leo in vitae turpis massa sed elementum. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Semper quis lectus nulla at volutpat diam ut. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Nec tincidunt praesent semper feugiat nibh sed pulvinar. Enim lobortis scelerisque fermentum dui faucibus. Scelerisque purus semper eget duis. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Mattis enim ut tellus elementum sagittis vitae. Dui vivamus arcu felis bibendum.

        Aliquam vestibulum morbi blandit cursus. Amet mauris commodo quis imperdiet. Nulla pellentesque dignissim enim sit. Ac feugiat sed lectus vestibulum. Viverra ipsum nunc aliquet bibendum enim facilisis. Eleifend donec pretium vulputate sapien. Mauris vitae ultricies leo integer malesuada. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Leo in vitae turpis massa sed. Non odio euismod lacinia at quis risus sed vulputate. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Convallis posuere morbi leo urna. Odio morbi quis commodo odio aenean sed adipiscing diam. Nisi porta lorem mollis aliquam ut porttitor leo. Nisl suscipit adipiscing bibendum est ultricies integer. Enim sed faucibus turpis in eu mi bibendum neque. Et netus et malesuada fames ac turpis egestas sed tempus. At augue eget arcu dictum varius duis at.

        Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Morbi tempus iaculis urna id. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Dolor morbi non arcu risus quis varius quam quisque. Massa massa ultricies mi quis hendrerit. Velit ut tortor pretium viverra. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Aliquet lectus proin nibh nisl condimentum. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. In est ante in nibh mauris cursus mattis molestie a. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. Varius morbi enim nunc faucibus a pellentesque sit. Mauris pharetra et ultrices neque ornare aenean euismod elementum. Ultricies tristique nulla aliquet enim tortor at auctor.

        Sed velit dignissim sodales ut eu sem integer vitae justo. Vitae ultricies leo integer malesuada nunc. Neque viverra justo nec ultrices dui sapien eget mi proin. Consectetur lorem donec massa sapien. Enim nunc faucibus a pellentesque sit amet porttitor eget. Lectus sit amet est placerat in egestas. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Sed augue lacus viverra vitae congue. Sit amet consectetur adipiscing elit ut aliquam purus. Cursus eget nunc scelerisque viverra mauris. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Aliquet enim tortor at auctor urna nunc id cursus metus.

        Non diam phasellus vestibulum lorem sed risus ultricies tristique. Auctor urna nunc id cursus. Aliquet bibendum enim facilisis gravida neque convallis a. Laoreet non curabitur gravida arcu. Augue interdum velit euismod in pellentesque. Morbi blandit cursus risus at ultrices. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Vulputate mi sit amet mauris commodo quis. Amet massa vitae tortor condimentum lacinia quis vel eros.

        Egestas maecenas pharetra convallis posuere morbi leo urna. Sed lectus vestibulum mattis ullamcorper velit. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Dapibus ultrices in iaculis nunc sed augue lacus. Egestas diam in arcu cursus euismod quis viverra. Facilisis gravida neque convallis a cras semper auctor. Rutrum quisque non tellus orci ac auctor augue. Hendrerit gravida rutrum quisque non. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Nunc non blandit massa enim. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Donec pretium vulputate sapien nec. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Sed faucibus turpis in eu mi bibendum neque. Pretium fusce id velit ut tortor pretium. Tristique nulla aliquet enim tortor at auctor. Ut porttitor leo a diam sollicitudin tempor id eu. Consectetur purus ut faucibus pulvinar elementum integer enim neque.

        Congue quisque egestas diam in arcu cursus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Sagittis orci a scelerisque purus semper eget. Tortor at risus viverra adipiscing at. A condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Phasellus faucibus scelerisque eleifend donec. Eleifend mi in nulla posuere sollicitudin. Sit amet risus nullam eget felis eget nunc lobortis mattis. Condimentum vitae sapien pellentesque habitant morbi. Viverra maecenas accumsan lacus vel facilisis. Pulvinar pellentesque habitant morbi tristique senectus et netus.

        Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Ultrices eros in cursus turpis massa tincidunt dui. Commodo nulla facilisi nullam vehicula. Eget nullam non nisi est. Egestas maecenas pharetra convallis posuere morbi leo urna molestie at. Rhoncus mattis rhoncus urna neque viverra justo. Et netus et malesuada fames ac turpis egestas. Et egestas quis ipsum suspendisse. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Pretium fusce id velit ut tortor pretium. Sit amet justo donec enim diam vulputate ut pharetra. Et ultrices neque ornare aenean euismod. Egestas sed tempus urna et pharetra pharetra massa massa.

        Non quam lacus suspendisse faucibus interdum posuere. Sagittis orci a scelerisque purus semper eget duis at tellus. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Amet commodo nulla facilisi nullam vehicula. Nam aliquam sem et tortor consequat id. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Nam at lectus urna duis convallis convallis tellus id. Quam adipiscing vitae proin sagittis. Est placerat in egestas erat imperdiet. In vitae turpis massa sed. Enim lobortis scelerisque fermentum dui faucibus in ornare. Semper eget duis at tellus. Blandit turpis cursus in hac habitasse platea dictumst quisque. Lobortis feugiat vivamus at augue eget arcu dictum varius duis.

        Lobortis feugiat vivamus at augue eget arcu dictum. Pharetra et ultrices neque ornare. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi. Et netus et malesuada fames. Id diam vel quam elementum pulvinar. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Lacinia at quis risus sed vulputate odio. Vel pharetra vel turpis nunc eget lorem dolor. Tortor id aliquet lectus proin. Ut venenatis tellus in metus vulputate eu scelerisque.

        Ut tristique et egestas quis. Lacus viverra vitae congue eu consequat ac felis donec. Volutpat consequat mauris nunc congue nisi. In ornare quam viverra orci sagittis eu volutpat. At elementum eu facilisis sed odio morbi quis. Congue nisi vitae suscipit tellus mauris a diam. In massa tempor nec feugiat nisl. Amet consectetur adipiscing elit ut aliquam purus sit amet. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Libero id faucibus nisl tincidunt eget nullam non nisi est. Integer vitae justo eget magna fermentum iaculis. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Lobortis feugiat vivamus at augue. In hendrerit gravida rutrum quisque. Ornare quam viverra orci sagittis eu volutpat. Non quam lacus suspendisse faucibus. Nunc sed velit dignissim sodales ut eu. Bibendum ut tristique et egestas quis ipsum.

        Faucibus nisl tincidunt eget nullam non nisi est. Aliquam sem fringilla ut morbi tincidunt augue. Quam vulputate dignissim suspendisse in est ante in. Viverra nam libero justo laoreet sit amet cursus sit amet. Urna neque viverra justo nec ultrices. Nulla porttitor massa id neque. Donec ac odio tempor orci dapibus. Urna et pharetra pharetra massa massa ultricies mi quis. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Condimentum lacinia quis vel eros donec ac. Ipsum consequat nisl vel pretium lectus quam id. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Enim nec dui nunc mattis.

        Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Commodo elit at imperdiet dui. Neque egestas congue quisque egestas diam in arcu cursus euismod. At tellus at urna condimentum mattis pellentesque id. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Vitae purus faucibus ornare suspendisse sed nisi lacus. In hendrerit gravida rutrum quisque non tellus orci. Nec ultrices dui sapien eget mi proin sed libero enim. Libero nunc consequat interdum varius sit amet mattis. Eget nunc lobortis mattis aliquam faucibus purus. Tellus cras adipiscing enim eu. Tortor at risus viverra adipiscing at in. Risus nullam eget felis eget nunc lobortis. Donec ac odio tempor orci dapibus 
    </div>
    <div class="footer">
        I'm the footer.
    </div>
</body>
</html>